body  {
    background-color: rgb(227, 250, 246);
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h1:hover {
    background-color: violet;
    font-style: italic;
}
h2:hover {
    background-color: yellow;
}
p {
    font-size: large;
}
p:hover:nth-child(2) {
    transition: 3s;
    background-color: cornflowerblue;
    font-size: large;
}
p:hover {
    background-color: greenyellow;
    transition: 2s;
}
a[href="https://matt5200.github.io/matt5200-github-portfolio.io/facts.html"]:hover {
    font-size: x-large;
    font-style: italic;
    padding: 1rem;
}
a[href="https://matt5200.github.io/matt5200-github-portfolio.io/blog.html"]:hover {
    font-size: xx-large;
    font-style: italic;
    padding: 1rem;
}
a[href="https://matt5200.github.io/matt5200-github-portfolio.io/"]:hover {
    font-size: xx-large;
    font-style: italic;
    padding: 1rem;
}
.small {
    font-size: x-small;
    font-style: italic;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.important:hover {
    background-color: blue;
    font-size: x-large;
    font-style: italic;
}
.example-1 {
    display: flex;
    justify-content: center;
}
.example-2 {
    display: flex;
    justify-content: flex-start;
}
.example-3 {
    display: flex;
    justify-content: flex-end;
}
.example-4 {
    display: flex;
    justify-content: space-between;
}
.example-5 {
    display: flex;
    justify-content: space-around;
}
.footer {
    margin-top: 50px;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=url], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }


  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    padding: 12px 20px;
    background-color: rgb(227, 250, 246);
    border:3px solid black;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: greenyellow;
  }
  
  .contact-sheet {
    border-radius: 5px;
    border:3px solid black;
    padding: 20px;
  }