body  {
    background-color: rgb(227, 250, 246);
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h1:hover {
    background-color: violet;
    font-style: italic;
}
h2:hover {
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
p {
    font-size: large;
}
p:hover {
    background-color: greenyellow;
}
a[href="https://matt5200.github.io/matt5200-github-portfolio.io/facts.html"]:hover {
    font-size: x-large;
    padding: 1rem;
}
a[href="https://matt5200.github.io/matt5200-github-portfolio.io/blog.html"]:hover {
    font-size: xx-large;
    padding: 1rem;
}
a[href="https://matt5200.github.io/matt5200-github-portfolio.io/"]:hover {
    font-size: xx-large;
    padding: 1rem;
}
.small {
    font-size: x-small;
    font-style: italic;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.important:hover {
    background-color: blue;
    font-size: x-large;
    font-style: italic;
}